body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    margin: 3px;
}

.loading {
    display: none;
    font-weight: bold;
}

.error {
    color: red;
}

#recentSearches button {
    margin: 4px;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.forecast-card {
    background: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
}

.forecast-card img {
    width: 50px;
}